body{
    background-color: aqua;
    justify-content: center;
    align-items: center;
    text-align: center;
display: flex;
height: 100vh;
}
h2{
    color:black;
}
.converter{
    justify-content: center;
    
background-color:orange;
width:450px;
height: 200px;
border-radius: 5px;
}
.input-container{
    display: inline-block;
    margin-left: 10px;
}
.output-container{
    display: inline-block;
    margin-left: 90px;
}
#fromUnit,#toUnit{
color: red;
border: none;
border-radius: 5px;
padding: 3px;
}
.value{
justify-content: center;
    align-items: center;
text-align: center;
padding: 20px;
color:black;
font-size: 25px;
}
#inputValue{
border: none;
border-radius: 5px;
padding: 5px;
}
#inputValue,::placeholder{
    color:red;
}

